---
layout: default
---

<div class="post">

  <header class="post-header">
    <h2 class="post-title">
     {{ site.first_name }} {{ site.last_name }}
    </h2>
  </header>

  <p class="desc">{{ page.description }}</p>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        <img class="img-fluid z-depth-1" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      {% endif %}
      <!-- {% if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
      {% endif %} -->
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}

    </div>

    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
    </div>
    {% endif %}

    {% if page.selected_papers %}
      <div class="publications">
        <h5>Publications</h5>
        {% for y in page.years %}
          <h2 class="year">{{y}}</h2>
          {% bibliography -f papers -q @*[year={{y}}]* %}
        {% endfor %}
      </div>
    {% endif %}


    {% if page.news %}
    <div class="news">
      <h5>Experiences </h5>
      {% if site.news  %}
        <div class="table-responsive">
          <table class="table table-sm table-borderless">
          {% assign news = site.news | reverse %}
          {% for item in news limit: site.news_limit %}
            <tr>
              <th scope="row">[{{ item.from }} - {{item.to}}]</th>
              <td>
                {% if item.inline %}
                  {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                {% else %}
                  <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </table>
        </div>
      {% else %}
        <p>No news so far...</p>
      {% endif %}
    </div>
      <!-- {% include news.html %} -->
    {% endif %}

    <!-- {% if page.experience %}
      <div class="publications">
        <h5>Experiences </h5>
        <h2 class="year"></h2>
        <div class="title">2020 - Nov. 2020
        Research intern@Alibaba Group, Taobao Tech
        </div> 
      </div>
    {% endif %} -->



  </article>

</div>
